@media screen and (max-width: 320px) {

    .page2{
        width: 320px;
        height: auto;
    }

    .section21{
        height: 570px;
    }

    .media320{
        display: flex;
        gap:9px;
        align-items:center;
    }

    .lefthead>button{
        display: none;
    }

    .part1{
        display: none;
    }

    .header{
        padding-top: 22px;
        margin-left: -3px;
        gap: 58px;
    }

    .log{
        width: 40px;
        height: 40px;
    }

    .head-2section>h1{
        font-size: 50px;
        line-height: 160%;
        color: #fff;
    }

    .maincontent-2section {
        margin-top: 77px;
        gap: 30px;
    }

    
    .body-2section>h3 {
        margin-left: 0;
        width: 100%;
        font-size: 18px;
        line-height: 111%;
        text-align: center;
    }

.section22{
    width: 100%;
    height: 879px;
}

    .text-section22>h2{
        font-size: 45px;
        line-height: 111%;
        text-align: center;
        width: 45%;
    }

    .maincontent-section22{
        padding-top: 49px;
        gap: 23px;
    }
    
    .text-section22{
        align-items:center;
        gap: 23px;
        height: 243px;
    }


    .images-section22{
        flex-direction: column;
        gap: 30px;
        width: 47%;
    }

    .images-section22>img{
        width: 100%;
        height: 243px;
    }

    .section23{
        width: 100%;
        height: 718px;
        flex-direction: column-reverse;
        padding-top: 23px;
        align-items:center;
        gap: 28px;
    }

    .maincontent-section23>h2{
        font-size: 45px;
        line-height: 111%;
        text-align: center;
    }

    .maincontent-section23>p{
        text-align: center;
        width: 100%;
    }

    .maincontent-section23{
        width: 78.2%;
        height: 417px;
        gap: 20px;
    }

    .maincontent-section23>div.dif{
        display: none;
    }

    .img-section23>img{
        border-radius: 10px;
        width: 100%;
        height: 227px;
    }
    
    
    .img-section23{
        width: 64%;
        margin-left: 0px;
    }

    .section24{
        height: 450px;
    }

    .rightside{
        display: none;
    }

    .leftside-section24{
        margin-left: 0;
        width: 100%;
        gap: 21px;
        margin-top: 91px;
        align-items:center;
    }

    .leftside-section24>h2{
        font-size: 45px;
        line-height: 111%;
        text-align: center;
        width: 91%;
        margin-left: 0px;
    }

    .leftside-section24>h3{
        text-align: center;
        width: 100%;
    }

    .section25{
        height: 2002px;
    }

    .content-section3>div>h2{
        font-size: 45px;
        line-height: 111%;
        text-align: center;
    }

    .section25>div.content-section3>div>h2 {
        margin-left: 26px;
    }

    .content-section3>div>h3{
        line-height: 107%;
        text-align: center;

    }

    .content-section3{
        gap: 66px;
        padding-top: 67px;
    }

    .section25>div.content-section3>div>h3{
        margin-left: 0%;
        width: 100%;
    }
    
    .content-card {
        width: 100%;
        margin-left: 0;
    }

    .cards{
        width:90% ;
    }


    footer{
        flex-direction: column;
        gap: 43px;
        height: 584px;
        width: 320px;
    }

    .content-footer{
        margin-left: 0;
        width: 100%;
        align-items:center;
        padding-top: 85px;
        gap: 30px;
    }

    .links{
        width: 100%;
        margin-top: -14px;
        justify-content: center;
    }

    .body{
        gap: 10px;
        align-items:center;
    }

    .link{
        align-items:center;
    }

    .icons{
        margin-top:0;
    }
    
    .dif12{
        display: none;
    }
}